svg {
    margin: -150px 0;
}

svg .axis path,
svg .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

svg .axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.field_group {
    max-height: 500px;
    display: inline-block;
    float: left;
}

.data_set {
    width: 38%;
    height: 450px;
}

.result_graphic {
    width: 55%;
    height: 450px;
}

.legend {
    font-size: 16px;
}

.legend rect {
    fill: white;
    stroke: black;
    opacity: 0.8;
}

.clustering_results {
    display: inline-block;
    float: left;
    margin-left: -3%;
}

#eva_scores {
    border: 1px solid black;
    padding: 10px;
    font-family: "Calibri", serif;
    font-size: 20px;
    margin-top: -30%;
    margin-left: 75%;
}

.footer {
    clear: both;
    width: 50%;
    margin: 0 auto;
}

.author {
    width: 66%;
    margin: 0 auto;
}

.data_btn {
    margin-top: 5px;
    margin-left: 3px;
    width: 100px;
}